@import url('https://catgirl3d.github.io/projects/td/offer-part.css');
@import url('https://catgirl3d.github.io/projects/td/module-buttons.css');
@import url('https://catgirl3d.github.io/projects/td/module-utils.css');
@import url('https://catgirl3d.github.io/projects/td/module-checkboxes.css');
@import url('https://catgirl3d.github.io/projects/td/module-input.css');

:root {
    --f-input-height: 53px;
	--mob-f-input-height: 45px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.f-input, .f-input-wrapper select, .block-set, .f-text, .description, .f-subheader, .f-header, .offer-title, .text, .image-box, .lt-form .f-input, .lt-form .field-label, .lt-form, .lt-block .f-btn, .popup__subtitle, .lt-menu .right-descr, .stsr05 .description, .comment-form-wrapper, .tag-editor, .comments-tree a, div.juxtapose, .fotorama__caption, .lt-column-with-icons .column .title, .stsr05{
font-family: 'Montserrat', serif !important;
}

.lt-form-inner {
	padding: 30px 35px 30px 35px !important;
	margin-bottom: 0px !important;
	border-radius: 40px !important;
}

#iti-0__country-listbox {
	font-size: 14px;
}

.part-subheader, .part-subheader p {
	padding-bottom: 0px !important;
	margin-bottom: 2px !important;
	color: #b82525;
	font-size: 15px !important;
}

.sub-label {
	font-size: 17px;
}

.text-normal.f-text {
	font-weight: 400 !important;
	font-size: 17px;
}

.part-header, .part-header p {
	margin-bottom: 0px !important;
	font-weight: 800 !important;
	font-size: 24px !important;
}

.lt-text-header-expand .text {
	padding-top: 8px !important;
	margin-left: -11px;
}

.dotted-link {
	font-size: 14px !important;
}

.strike::before {
	display: none !important;
}

.popup__subtitle {
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	margin: 0 0 32px 0;
	color: #050505;
}

.label-value a:link {
  text-decoration: underline !important;
}

.footer_form {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -40px;
	margin-right: -40px;
	background: #f7f7f7 !important;
}

.footer_form_text {
	font-size: 11.5px;
	font-weight: 400;
}


@media screen and (max-width: 450px) {
.lt-form-inner {
	padding: 20px 20px 20px 20px !important;
	margin-bottom: 0px !important;
	border-radius: 40px !important;
}
.container {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.part-header p {
	font-size: 20px !important;
}

.sub-label {
	padding-top: 5px !important;
	font-size: 15px !important;
	line-height: 1.3 !important;
}

.part-subheader, .part-subheader p {
	margin-bottom: 2px !important;
	font-size: 12px !important;
}

.text-accurate {
	font-size: 12px;
}

.field-description-block {
	font-size: 11px;
}

.text-normal.f-text {
	font-size: 13px;
}


#iti-0__country-listbox {
	font-size: 12px;
}
}

@media screen and (max-width: 420px) {
.f-subheader.f-subheader- {
	font-size: 14px !important;
	display: none !important;
	}
}

@media screen and (max-width: 350px) {
.f-header {
	font-size: 17px !important;
}
.footer-form {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}
}
