@import url('https://catgirl3d.github.io/projects/td/module-buttons.css');
@import url('https://catgirl3d.github.io/projects/td/module-utils.css');
@import url('https://catgirl3d.github.io/projects/td/module-checkboxes.css');
@import url('https://catgirl3d.github.io/projects/td/module-input.css');

*, *::before, *::after {
  box-sizing: border-box;
}

.block-set, .f-text, .description, .f-subheader, .f-header, .offer-title, .text, .image-box, .lt-form .f-input, .lt-form .field-label, .lt-form, .lt-block .f-btn, .popup__subtitle, .lt-menu .right-descr, .stsr05 .description, .comment-form-wrapper, .tag-editor, .comments-tree a, div.juxtapose, .fotorama__caption, .lt-column-with-icons .column .title, .stsr05{
font-family: 'Montserrat', serif !important;
}

/* FORMS PADDINGS/MARGINS/ETC / labels group */
.lt-block-wrapper {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	color: #333333;
}
.lt-form-inner {
	padding: 0px 20px 10px 20px !important;
	margin-bottom: 0px !important;
	border-radius: 40px !important;
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.container {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
/*--- END OF FORMS PADDINGS/MARGINS/ETC ---*/

#iti-0__country-listbox {
	font-size: 14px;
}

.label-value a:link {
  text-decoration: underline !important;
}

.f-subheader.f-subheader-sm {
	font-size: 15px;
	display:none;
}

.part-subheader {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.f-subheader.f-subheader-sm {
	color: #b82525;
}

/* Подзаголовок формы */
.sub-label {
	margin-bottom: 0px !important;
}
.sub-label p, .c-subheader p {
	font-size: 17px !important;
	padding-top:2px;
}

.f-text {
	font-weight: 400 !important;
}

.text.f-text {
	font-size: 17px !important;
}

.text-normal.f-text {
    font-size: 17px !important;
  }

.f-header {
	font-weight: 800 !important;
	line-height: 1.23;
}

.lt-text-header-expand .text {
	padding-top: 8px !important;
	margin-left: -11px;
}

.dotted-link {
	font-size: 14px !important;
}

.strike::before {
	display: none !important;
}

.popup__subtitle {
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	margin: 0 0 32px 0;
	color: #050505;
}

/*-- Предложения формы и блок отвечающий за предложения --*/
.form-position {
	display: block !important;
	cursor: pointer !important;
	padding-left: 15px !important;
	padding-top: 5px !important;
	padding-right: 10px !important;
	padding-bottom: 5px !important;
	margin-bottom: 0px !important;
	border-bottom: 1px solid #f0f0f0;
}

.form-position-price.pull-right {
	background-color: #ffeec6 !important;
	padding: 7px !important;
	font-size: 15px !important;
	font-weight: 600 !important;
	margin-bottom: 4px !important;
	margin-top: 7px !important;
	/* color: white; */
}

.form-position.selected {
	background: #9999991f !important;
	margin-bottom: 0px !important;
}

.offer-title {
	font-size: 15px !important;
	font-weight: 600 !important;
	display: block !important;
	padding-left: 38px !important;
	padding-bottom: 7px !important;
}

.text-muted { /*Название продукта в блоке предложний*/
	color: #777 !important;
	padding-left: 40px !important;
}
	
.pull-left.form-position-title {
	float: initial !important;
}

.part-manyPositions {
	background: #fff !important;
	border: 1px solid #f2f2f2 !important;
	margin-bottom: 5px !important;
}

.builder-item.part-position {
	background: #fff !important;
	padding: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 10px !important;
}

.builder-item.part-total {
	font-size: 17px !important;
}

.pull-left.form-position-checker {
	position: absolute;
}

.footer {
	display: none !important;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -40px;
	margin-right: -40px;
	background: #f7f7f7 !important;
}

.footer_text {
	font-size: 11.5px;
	font-weight: 400;
}

@media screen and (max-width: 450px) {
.lt-form-inner {
	padding: 0px 20px 12px 20px !important;
}

.sub-label p, .c-subheader p {
	font-size: 15px !important;
	line-height: 1.3 !important;
}
.f-header {
	font-size: 21px !important;
	margin-top:0px !important;
}
.f-subheader.f-subheader-sm {
	font-size: 14px !important;
	display: none !important;
	}
.part-subheader {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.block-set {
	font-size: 14px !important;
}

#iti-0__country-listbox {
	font-size: 12px;
}
.text-normal.f-text {
	font-size: 14px !important;
}
}

@media screen and (max-width: 330px) {
.lt-form-inner {
	padding: 0px 12px 10px 12px !important;
}}