/* ========================================================================
   SECTION 1: IMPORTS
   External module imports
   ======================================================================== */

@import url('https://catgirl3d.github.io/projects/td/css/modules/module-buttons.css');
@import url('https://catgirl3d.github.io/projects/td/css/modules/module-utils.css');
@import url('https://catgirl3d.github.io/projects/td/css/modules/module-checkboxes.css');
@import url('https://catgirl3d.github.io/projects/td/css/modules/module-input.css');
@import url('https://catgirl3d.github.io/projects/td/css/modules/module-offer-parts.css');
@import url('https://catgirl3d.github.io/projects/td/css/modules/module-text.css');


/* ========================================================================
   SECTION 2: RESET & BASE
   Universal box-sizing and typography overrides
   ======================================================================== */

*, *::before, *::after {
	box-sizing: border-box;
}

.f-input,
.f-input-wrapper select,
.block-set,
.f-text,
.description,
.f-subheader,
.f-header,
.offer-title,
.text,
.image-box,
.lt-form .f-input,
.lt-form .field-label,
.lt-form,
.lt-block .f-btn,
.popup__subtitle,
.lt-menu .right-descr,
.stsr05 .description,
.comment-form-wrapper,
.tag-editor,
.comments-tree a,
div.juxtapose,
.fotorama__caption,
.lt-column-with-icons .column .title,
.stsr05 {
	font-family: 'Montserrat', sans-serif !important;
}


/* ========================================================================
   SECTION 3: COMPONENT - FORM STRUCTURE
   Form inner container
   ======================================================================== */

.lt-form-inner {
	padding: 25px 30px 30px 30px !important;
	margin-bottom: 0 !important;
	border-radius: 40px !important;
}


/* ========================================================================
   SECTION 4: COMPONENT - FOOTER
   Footer form elements
   ======================================================================== */

.footer_form {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -40px;
	margin-right: -40px;
	background: #f7f7f7 !important;
}

.footer_form_text {
	font-size: 11.5px;
	font-weight: 400;
}


/* ========================================================================
   SECTION 5: MEDIA QUERIES
   Responsive styles for different screen sizes
   ======================================================================== */

@media screen and (max-width: 450px) {
	.lt-form-inner {
		padding: 20px 20px 20px 20px !important;
		margin-bottom: 0 !important;
		border-radius: 40px !important;
	}

	.container {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}
